body {
    background: black;
}

h1 {
    color: bisque;  
    font-family: fantasy;
}

p {
    color: burlywood;
    font-family: sans-serif;
}

img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}